@font-face {
    font-family: 'SF Pro Text';
    src: url('SFProText-Regular.eot');
    src: url('SFProText-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFProText-Regular.woff2') format('woff2'),
        url('SFProText-Regular.woff') format('woff'),
        url('SFProText-Regular.svg#SFProText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.eot');
    src: url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Regular.woff2') format('woff2'),
        url('Poppins-Regular.woff') format('woff'),
        url('Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prata';
    src: url('Prata-Regular.eot');
    src: url('Prata-Regular.eot?#iefix') format('embedded-opentype'),
        url('Prata-Regular.woff2') format('woff2'),
        url('Prata-Regular.woff') format('woff'),
        url('Prata-Regular.svg#Prata-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

